<template name="calculator">
    <div class="container-fluid">
        <h3 style="text-align: center">{{_ "title"}}</h3>
        <div class="col-md-6 col-md-offset-3" style="margin-left: 0%">

            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="name">{{_ "question1"}}</label>
                <input type="text"  class="form-control" placeholder={{_ "enter_number"}} id="input" name="workExperience" value={{teacher.workExperience}}>
            </div>

            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="specialPosition">{{_ "question2"}}</label>
                <select class="form-control" id="select" name="specialPosition">
                    <option disabled="disabled" selected="selected" value="{{teacher.specialPosition}}">
                        {{teacher.specialPosition}}</option>
                    <option value="head">{{_ "question2_option1"}}</option>
                    <option value="vice-head">{{_ "question2_option2"}}</option>
                    <option value="dorm-head">{{_ "question2_option3"}}</option>
                    <option value="intern">{{_ "question2_option4"}}</option>
                    <option value="trainee">{{_ "question2_option5"}}</option>
                    <option value="none">{{_ "option_none"}}</option>
                </select>
            </div>

            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="form-head">{{_ "question16"}}</label>
                <select class="form-control" id="select" name="formHead">
                    <option disabled="disabled" selected="selected" value="{{teacher.formHead}}">
                        {{teacher.formHead}}</option>
                    <option value="yes">{{_ "question16_option1"}}</option>
                    <option value="no">{{_ "question16_option2"}}</option>
                </select>
            </div>

            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="kids_6">{{_ "question3"}}</label>
                <input type="text" id="input" class="form-control" placeholder={{_ "enter_number"}} name="kids_6" value="{{teacher.kids_6}}">
            
                <p style="margin-top: 10pt">{{_ "question3_remark"}}</p>
            </div>

            <div class="form-group" style="width: 80%">
                <label for="kids_7_16">{{_ "question4"}}</label>
                <input type="text" id="input" class="form-control" placeholder={{_ "enter_number"}} name="kids_7_16" value="{{teacher.kids_7_16}}">

                <p style="margin-top: 10pt">{{_ "question3_remark"}}</p>
            </div>

            <div class="form-group" style="width: 80%">
                <label for="kids_17_22">{{_ "question5"}}</label>
                <input type="text" id="input" class="form-control" placeholder={{_ "enter_number"}} name="kids_17_22" value="{{teacher.kids_17_22}}">

                <p style="margin-top: 10pt">{{_ "question3_remark"}}</p>
            </div>

            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="academicDegree">{{_ "question6"}}</label>
                <select class="form-control" id="select" name="academicDegree">
                    <option disabled="disabled" selected="selected" value="{{teacher.academicDegree}}">
                        {{teacher.academicDegree}}</option>
                    <option value="bachelor">{{_ "question6_option1"}}</option>
                    <option value="master">{{_ "question6_option2"}}</option>
                    <option value="phd">{{_ "question6_option3"}}</option>
                    <option value="doctor">{{_ "question6_option4"}}</option>
                    <option value="none">{{_ "option_none"}}</option>
                </select>
            </div>

            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="maritalStatus">{{_ "question7"}}</label>
                <select class="form-control" id="select" name="maritalStatus">
                    <option disabled="disabled" selected="selected" value="{{teacher.maritalStatus}}">
                        {{teacher.maritalStatus}}</option>
                    <option value="married-to-employed">{{_ "question7_option1"}}</option>
                    <option value="married-to-unemployed">{{_ "question7_option2"}}</option>
                    <option value="widowed-divorced">{{_ "question7_option3"}}</option>
                    <option value="single">{{_ "question7_option4"}}</option>
                </select>
            </div>

            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="workRegion">{{_ "question8"}}</label>
                <select class="form-control" id="select" name="workRegion">
                    <option disabled="disabled" selected="selected" value="{{teacher.workRegion}}">
                        {{teacher.workRegion}}</option>
                    <option value="regionA">{{_ "question8_option1"}}</option>
                    <option value="regionB">{{_ "question8_option2"}}</option>
                    <option value="regionC">{{_ "question8_option3"}}</option>
                    <option value="regionD">{{_ "question8_option4"}}</option>
                    <option value="none">{{_ "option_none"}}</option>
                </select>

                <p style="margin-top: 10pt">{{_ "question8_remark1"}}</p>
                <p>{{_ "question8_remark2"}}</p>
                <p>{{_ "question8_remark3"}}</p>
                <p>{{_ "question8_remark4"}}</p>
            </div>

            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="housing">{{_ "question9"}}</label>
                <select class="form-control" id="select" name="housing">
                    <option disabled="disabled" selected="selected" value="{{teacher.housing}}">
                        {{teacher.housing}}</option>
                    <option value="regionA">{{_ "question8_option1"}}</option>
                    <option value="regionB">{{_ "question8_option2"}}</option>
                    <option value="regionC">{{_ "question8_option3"}}</option>
                    <option value="regionD">{{_ "question8_option4"}}</option>
                    <option value="none">{{_ "option_none"}}</option>
                </select>

                <p style="margin-top: 10pt">{{_ "question8_remark1"}}</p>
                <p>{{_ "question8_remark2"}}</p>
                <p>{{_ "question8_remark3"}}</p>
                <p>{{_ "question8_remark4"}}</p>
            </div>


            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="englishOption">{{_ "question10"}}</label>
                <select id="select" class="form-control" name="englishOption">
                    <option disabled="disabled" selected="selected" value="{{teacher.englishOption}}">
                        {{teacher.englishOption}}</option>
                    <option value="option1">{{_ "question10_option1"}}</option>
                    <option value="option2">{{_ "question10_option2"}}</option>
                    <option value="option3">{{_ "question10_option3"}}</option>
                    <option value="none">{{_ "option_none"}}</option>
                </select>

                <p style="margin-top: 10pt">{{_ "question10_remark1"}}</p>
                <p>{{_ "question10_remark2"}}</p>
                <p>{{_ "question10_remark3"}}</p>
            </div>

            <div class="form-group" style="width: 80%">
                <label for="ielts">{{_ "question11"}}</label>
                <select id="select" class="form-control" name="ielts">
                    <option disabled="disabled" selected="selected" value="{{teacher.ielts}}">
                        {{teacher.ielts}}</option>
                    <option value="4.5">4.5</option>
                    <option value="5.0">5.0</option>
                    <option value="5.5">5.5</option>
                    <option value="6.0">6.0</option>
                    <option value="6.5">6.5</option>
                    <option value="7.0">7.0</option>
                    <option value="7.5">7.5</option>
                    <option value="8.0">8.0</option>
                    <option value="8.5">8.5</option>
                    <option value="9.0">9.0</option>
                    <option value="none">{{_ "option_none"}}</option>
                </select>
            </div>

            <div class="form-group" style="width: 80%">
                <label for="tat">{{_ "question12"}}</label>
                <select class="form-control" id="select" name="tat">
                    <option disabled="disabled" selected="selected" value="{{teacher.tat}}">
                        {{teacher.tat}}</option>
                    <option value="group1">{{_ "question12_option1"}}</option>
                    <option value="group2">{{_ "question12_option2"}}</option>
                    <option value="group3">{{_ "question12_option3"}}</option>
                    <option value="group4">{{_ "question12_option4"}}</option>
                    <option value="none">{{_ "option_none"}}</option>
                </select>

                <p style="margin-top: 10pt">{{_ "question12_remark1"}}</p>
                <p>{{_ "question12_remark2"}}</p>
                <p>{{_ "question12_remark3"}}</p>
                <p>{{_ "question12_remark4"}}</p>
            </div>

            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="rotation">{{_ "question13"}}</label>
                <select class="form-control" id="select" name="rotation">
                    <option disabled="disabled" selected="selected" value="{{teacher.rotation}}">
                        {{teacher.rotation}}</option>
                    <option value="yes">{{_ "question13_option1"}}</option>
                    <option value="no">{{_ "question13_option2"}}</option>
                </select>
            </div>

            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="kindergardenFee">{{_ "question14"}}</label>
                <input type="text" id="input" class="form-control" placeholder={{_ "enter_number"}} name="kindergardenFee" value="{{teacher.kindergardenFee}}">
            </div>

            <div class="form-group" style="margin-top: 20pt; width: 80%">
                <label for="currentSalary">{{_ "question15"}}</label>
                <input type="text" id="input" class="form-control" placeholder={{_ "enter_number"}} name="currentSalary" value="{{teacher.currentSalary}}">
            </div>

            <!-- <div class="form-group">
                <button class="btn btn-primary" id="calculate">Рассчитать</button>
            </div> -->

            <table style="margin-top: 40pt" class="table table-striped">
                <!-- <thead>
                    <tr class="bts-header">
                        <th>#</th>
                        <th>Мұғалім ID</th>
                        <th>Аты-жөні</th>
                        <th>Пәні</th>
                        <th>Лауазымы</th>
                        <th style="text-align: center">Академ дәреже</th>
                        <th style="text-align: center">Тәжірибе</th>
                        <th style="text-align: center">Категория</th>
                        <th style="text-align: center">IELTS</th>
                        <th></th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr>
                        <td>{{_ "value1"}}</td>
                        <td style="text-align: right">{{value1}}</td>
                    </tr>
                    <tr>
                        <td>{{_ "value2"}}</td>
                        <td style="text-align: right">{{value2}}</td>
                    </tr>
                    <tr>
                        <td>{{_ "value3"}}</td>
                        <td style="text-align: right">{{value3}}</td>
                    </tr>
                    <tr>
                        <td>{{_ "value4"}}</td>
                        <td style="text-align: right">{{value4}}</td>
                    </tr>
                    <tr>
                        <td>{{_ "value5"}}</td>
                        <td style="text-align: right">{{value5}}</td>
                    </tr>
                    <tr>
                        <td>{{_ "value6"}}</td>
                        <td style="text-align: right">{{value6}}</td>
                    </tr>
                    <tr>
                        <td>{{_ "value7"}}</td>
                        <td style="text-align: right">{{value7}}</td>
                    </tr>
                    <tr>
                        <td>{{_ "value8"}}</td>
                        <td style="text-align: right">{{value8}}</td>
                    </tr>
                    <tr>
                        <td>{{_ "value9"}}</td>
                        <td style="text-align: right">{{value9}}</td>
                    </tr>
                    <tr>
                        <td>{{_ "value10"}}</td>
                        <td style="text-align: right">{{value10}}</td>
                    </tr>
                    <tr>
                        <td>{{_ "value11"}}</td>
                        <td style="text-align: right">{{value11}}</td>
                    </tr>
                    <tr>
                        <td>{{_ "value12"}}</td>
                        <td style="text-align: right">{{value12}}</td>
                    </tr>
                    <tr style="font-weight:bold">
                        <td>{{_ "value13"}}</td>
                        <td style="text-align: right">{{value13}}</td>
                    </tr>
                    
                </tbody>
            </table>

        </div>
    </div>


</template>