<template name="adminMenu">
  {{#if isAdmin}}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header" >
      <button type="button" class= "navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" >
        <span class="icon-bar" ></span>
        <span class="icon-bar" ></span>
        <span class="icon-bar" ></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class=""><a href="/"><span class="glyphicon glyphicon-home"></span> Басты бет</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Мұғалімдер<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/admin/allTeachers/all">Мұғалімдер тізімі</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Рейтинг</li>
              <li><a href="/admin/allTeachers/rating/1">1 тоқсан</a></li>
              <li><a href="/admin/allTeachers/rating/2">2 тоқсан</a></li>
              <li><a href="/admin/allTeachers/rating/3">3 тоқсан</a></li>
              <li><a href="/admin/allTeachers/rating/4">4 тоқсан</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/admin/allTeachers/transfer">Трансфер</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Оқушылар<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Оқушылар тізімі</li>
              <li><a href="/admin/students/all/7">7 сынып</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/admin/students/all/8">8 сынып</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/admin/students/all/9">9 сынып</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/admin/students/all/10">10 сынып</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/admin/students/all/11">11 сынып</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/admin/students/transfer">Трансфер</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Емтихандар <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">БТС</a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/bts/keys" class="test">Жауап кілттері</a></li>
                  <li><a href="/admin/bts/levels">Категория кілттері</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/lessonObjectives">Сабақ мақсаттары</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">БТС-1</a>
                    <ul class="dropdown-menu">
                      <li><a href="/admin/bts/rating/1">Рейтинг</a></li>
                      <li><a href="/admin/bts/ratingByCategory/1">Рейтинг категориямен</a></li>
                      <li><a href="/admin/bts/ratingByQuaility/1">Рейтинг сапамен</a></li>
                      <li><a href="/admin/bts/ratingByCount/1">Рейтинг санмен</a></li>
                      <li><a href="/admin/bts/allResults/1">Нәтижелер</a></li>
                      <li><a href="/admin/bts/top10/1">ТОП-10</a></li>
                      <li><a href="/admin/bts/objectives/1">Сабақ мақсаттары</a></li>
        
                      <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар нәтижелері</a>
                        <ul class="dropdown-menu">
                          <li><a href="/admin/bts/objectives/results/1/7">7 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/1/8">8 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/1/9">9 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/1/10">10 сынып</a></li>
                        </ul>
                      </li>

                      <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар рейтингі</a>
                        <ul class="dropdown-menu">
                          <li><a href="/admin/bts/objectives/rating/1/7">7 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/1/8">8 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/1/9">9 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/1/10">10 сынып</a></li>
                        </ul>
                      </li>
                      <li><a href="/admin/bts/selector/1">Оқушыларды таңдау</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">БТС-2</a>
                    <ul class="dropdown-menu">
                      <li><a href="/admin/bts/rating/2">Рейтинг</a></li>
                      <li><a href="/admin/bts/ratingByCategory/2">Рейтинг категориямен</a></li>
                      <li><a href="/admin/bts/ratingByQuaility/2">Рейтинг сапамен</a></li>
                      <li><a href="/admin/bts/ratingByCount/2">Рейтинг санмен</a></li>
                      <li><a href="/admin/bts/allResults/2">Нәтижелер</a></li>
                      <li><a href="/admin/bts/top10/2">ТОП-10</a></li>
                      <li><a href="/admin/bts/objectives/2">Сабақ мақсаттары</a></li>

                      <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар нәтижелері</a>
                        <ul class="dropdown-menu">
                          <li><a href="/admin/bts/objectives/results/2/7">7 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/2/8">8 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/2/9">9 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/2/10">10 сынып</a></li>
                        </ul>
                      </li>

                      <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар рейтингі</a>
                        <ul class="dropdown-menu">
                          <li><a href="/admin/bts/objectives/rating/2/7">7 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/2/8">8 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/2/9">9 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/2/10">10 сынып</a></li>
                        </ul>
                      </li>

                      <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">БТС-2 Бонус</a>
                        <ul class="dropdown-menu">
                          <li><a href="/admin/bts/rating/bonus/2">Рейтинг</a></li>
                          <li><a href="/admin/bts/ratingByCategory/bonus/2">Рейтинг категориямен</a></li>
                          <!-- <li><a href="/admin/bts/ratingByQuaility/bonus/2">Рейтинг сапамен</a></li>
                          <li><a href="/admin/bts/ratingByCount/bonus/2">Рейтинг санмен</a></li> -->
                          <li><a href="/admin/bts/allResults/bonus/2">Нәтижелер</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>


                  <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">БТС-3</a>
                    <ul class="dropdown-menu">
                      <li><a href="/admin/bts/rating/3">Рейтинг</a></li>
                      <!-- <li><a href="/admin/bts/ratingByCategory/3">Рейтинг категориямен</a></li> -->
                      <li><a href="/admin/bts/ratingByQuaility/3">Рейтинг сапамен</a></li>
                      <li><a href="/admin/bts/ratingByCount/3">Рейтинг санмен</a></li>
                      <li><a href="/admin/bts/allResults/3">Нәтижелер</a></li>
                      <li><a href="/admin/bts/top10/3">ТОП-10</a></li>
                      <li><a href="/admin/bts/objectives/3">Сабақ мақсаттары</a></li>

                      <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар нәтижелері</a>
                        <ul class="dropdown-menu">
                          <li><a href="/admin/bts/objectives/results/3/7">7 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/3/8">8 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/3/9">9 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/3/10">10 сынып</a></li>
                        </ul>
                      </li>

                      <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар рейтингі</a>
                        <ul class="dropdown-menu">
                          <li><a href="/admin/bts/objectives/rating/3/7">7 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/3/8">8 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/3/9">9 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/3/10">10 сынып</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">БТС-4</a>
                    <ul class="dropdown-menu">
                      <li><a href="/admin/bts/rating/4">Рейтинг</a></li>
                      <li><a href="/admin/bts/ratingByCategory/4">Рейтинг категориямен</a></li>
                      <li><a href="/admin/bts/ratingByQuaility/4">Рейтинг сапамен</a></li>
                      <li><a href="/admin/bts/ratingByCount/4">Рейтинг санмен</a></li>
                      <li><a href="/admin/bts/allResults/4">Нәтижелер</a></li>
                      <li><a href="/admin/bts/top10/4">ТОП-10</a></li>
                      <li><a href="/admin/bts/objectives/4">Сабақ мақсаттары</a></li>

                      <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар нәтижелері</a>
                        <ul class="dropdown-menu">
                          <li><a href="/admin/bts/objectives/results/4/7">7 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/4/8">8 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/4/9">9 сынып</a></li>
                          <li><a href="/admin/bts/objectives/results/4/10">10 сынып</a></li>
                        </ul>
                      </li>

                      <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сабақ мақсаттар рейтингі</a>
                        <ul class="dropdown-menu">
                          <li><a href="/admin/bts/objectives/rating/4/7">7 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/4/8">8 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/4/9">9 сынып</a></li>
                          <li><a href="/admin/bts/objectives/rating/4/10">10 сынып</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">КБО</a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/kbo/keys">Жауап кілттері</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Рейтинг</li>
                  <li><a href="/admin/kbo/rating/1">КБО-1</a></li>
                  <li><a href="/admin/kbo/rating/2">КБО-2</a></li>
                  <li><a href="/admin/kbo/rating/3">КБО-3</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Нәтижелер</li>
                  <li><a href="/admin/kbo/final">Финал</a></li>
                </ul>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TAT</a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/tat/keys">Жауап кілттері</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Рейтинг</li>
                  <li><a href="/admin/tat/rating/1">ТАТ-1</a></li>
                  <li><a href="/admin/tat/rating/2">ТАТ-2</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Нәтижелер</li>
                  <li><a href="/admin/tat/results/1">ТАТ-1</a></li>
                  <li><a href="/admin/tat/results/2">ТАТ-2</a></li>
                  <li><a href="/admin/tat/final">Жалпы</a></li>
                </ul>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ҰБТ</a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/ubt/officialResults">Ресми нәтижелері</a></li>
                  <li><a href="/admin/ubt/results">Нәтижелері</a></li>
                  <li><a href="/admin/ubt/rating">Рейтинг</a></li>
                </ul>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">OPE</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Репорт</a>
                    <ul class="dropdown-menu">
                      <li><a href="/admin/ope/reportResults">Нәтижелері</a></li>
                      <li><a href="/admin/ope/reportRatings">Рейтинг</a></li>
                    </ul>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Емтихан</a>
                    <ul class="dropdown-menu">
                      <li><a href="/admin/ope/upload">Жүктеу</a></li>
                      <li><a href="/admin/ope/thresholds">Деңгейлік ұпайлар</a></li>
                      <li><a href="/admin/ope/results">Нәтижелер</a></li>
                      <li><a href="/admin/ope/ratings">Рейтинг</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KET-PET</a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/ketPet/results">Нәтижелер</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/ketPet/rating">Рейтинг</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/ketPet/ratingByLevel">Деңгей бойынша бағалау</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/ketPet/compare">Салыстыру</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/ketPet/top10">ТОП-10</a></li>
                </ul>
              </li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SAT-IELTS</a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/satIelts/results">Нәтижелер</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/satIelts/rating">Рейтинг</a></li>
                </ul>
              </li>

              <li role="separator" class="divider"></li>
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Түрік тілі A1-7</a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/turkishA1/keys">Жауап кілттері</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/turkishA1/rating">Рейтинг</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/turkishA1/results">Нәтижелер</a></li>
                </ul>
              </li>

              <li role="separator" class="divider"></li>
              <li class="dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Түрік тілі A1-8</a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/turkishA18/keys">Жауап кілттері</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/turkishA18/rating">Рейтинг</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/turkishA18/results">Нәтижелер</a></li>
                </ul>
              </li>
              
            </ul>
          </li>

          <!--
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Türkçe<span class="caret"></span></a>
              <input type="checkbox" id="sm1">
              <ul class="sub-menu">
                <li><a href="/admin/turkish/keys">Жауап кілттері</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/admin/turkish/rating">Рейтинг</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/admin/turkish/results">Нәтижелер</a></li>
              </ul>
            </li>
          -->

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-equalizer"></span> Олимпиада<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Олимпиада нәтижелері</li>
              <li><a href="/admin/olympiadsRegion">Облыстық</a></li>
              <li><a href="/admin/olympiadsRegionRating">Облыстық Рейтинг</a></li>
              <li><a href="/admin/olympiadsRegionJunior">Облыстық Юниор</a></li>
              <li><a href="/admin/olympiadsRepublic">Республикалық</a></li>
              <li><a href="/admin/olympiadsRepublicJunior">Республикалық Юниор</a></li>
              <li><a href="/admin/olympiadsInter">Халықаралық</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/admin/olympiadsRating">Рейтинг</a></li>
              <li><a href="/admin/olympiadsRatingInter">Рейтинг Халықаралық</a></li>
            </ul>
          </li>
          {{#if isNotEdlight}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-lock"></span> ТЖО<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/tjoSettings">Баптаулар</a></li>
              </ul>
            </li>
          {{/if}}

          <!-- Жобалар -->
          <!--
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-equalizer"></span> Жоба<span class="caret"></span></a>
              <input type="checkbox" id="sm1">
              <ul class="sub-menu">
                  <li class="dropdown-header">Жоба нәтижелері</li>
                  <li><a href="/admin/jobaRegion">Облыстық</a></li>
                  <li><a href="/admin/jobaRepublic">Республикалық</a></li>
                  <li><a href="/admin/jobaInter">Халықаралық</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/admin/jobaRating">Рейтинг</a></li>
              </ul>
            </li>
          -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#if isNotEdlight}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-config"></span> Баптаулар<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/settings">БИЛ мектептер</a></li>
                  <li><a href="/admin/guestSettings">Қонақ мектептер</a></li>
                </ul>
              </li>
            {{/if}}
            <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span> Шығу</a></li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </nav>
  {{/if}}
</template>