<template name="turkishA1Keys">
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline" style="padding-bottom: 15pt">
				<h4 style="text-align: center;">Түрік тілі A1 7 сынып - Жауап кілттері</h4>
				<div class="form-group" style="margin-right: 10pt;text-align: center;"> 
					{{> academicYear}}
				</div>
				<label for="no">Нөмірі</label>
				<select class="form-control" name="no" id="no">
					<option value="">-</option>
					<option value="1">1</option>
					<option value="2">2</option>
				</select>
				<div class="form-group" style="margin-right: 10pt">
				<a href="/admin/turkishA1/keys/new" class="btn btn-primary" style="float: right; margin-left: 20pt;">Қосу</a>
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th></th>
						<th>Вариант</th>
					</tr>
				</thead>
				<tbody>
					{{#each keys}}
					<tr>
						<td>{{math @index "+" 1}}</td>
						<td>{{academicYear}}</td>
						<td>{{variant}}</td>
						<td><a style="float:right" class="btn btn-primary" href="/admin/turkishA1/keys/edit/{{_id}}">Өзгерту</a></td>
						<td><a class="btn btn-danger" href="#" id="delete">Өшіру</a></td>

					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		
	</div>
	
</template>