<template name="adminOpeRatings">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center; padding-bottom: 15pt">OPE Рейтинг</h4>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group" style="margin-right: 15pt">
                        {{> academicYear}}

                        <label for="" style="margin-left: 10pt; ">Пән</label>
                        <select class="form-control" id="subjectId">
                            <option value="all">Жалпы</option>
                            <option value="01">Алгебра</option>
                            <option value="02">Физика</option>
                            <option value="03">Химия</option>
                            <option value="04">Биология</option>
                            <option value="05">Ағылшын тілі</option>
                            <option value="06">География</option>
                            <option value="08">Информатика</option>
                            <option value="09">Қазақ тілі</option>
                            <option value="10">Түрік тілі</option>
                            <option value="11">Орыс тілі</option>
                            <option value="12">Қазақстан тарихы</option>
                            <option value="23">Дене шынықтыру</option>
                        </select>

                        <label for="" style="margin-left: 10pt; ">Сынып</label>
                        <select class="form-control" id="grade">
                            <option value="all">Жалпы</option>
                            <option value="7">7 сынып</option>
                            <option value="8">8 сынып</option>
                            <option value="9">9 сынып</option>
                            <option value="10">10 сынып</option>
                            <option value="11">11 сынып</option>
                        </select>

                        <label for="" style="margin-left: 10pt; ">Рейтинг түрі</label>
                        <select class="form-control" id="rating_type">
                            <option value="average">Орташа</option>
                            <option value="percentage">Дәлелденген пайыз</option>
                            <option value="quantity">Дәлелденген саны</option>
                        </select>

                        <label for="threshold_regional" style="margin-left: 10pt;"><span style="padding: 5px; background-color: #ccffff">Область</span></label>
                        <input type="text" style="width: 40pt" id="threshold_region" class="form-control" placeholder="Сан енгізіңіз" name="threshold_regional" value="{{opeThresholds 'region'}}">                        
                        

                        <label for="threshold_republic" style="margin-left: 10pt;"><span style="padding: 5px; background-color: #cce5ff">Республика</span></label>
                        <input type="text" style="width: 40pt" id="threshold_republic" class="form-control" placeholder="Сан енгізіңіз" name="threshold_republic" value="{{opeThresholds 'republic'}}">
                        


                        </div>

                    </div>
                </div>
            </div>

            {{#if Template.subscriptionsReady}}

            <table style="margin-top: 15pt" class="table table-striped">
                <thead>
                    <tr class="bts-header">
                        <th style="text-align: center">#</th>
                        <th style="text-align: center">Мектеп</th>
                        <th style="text-align: center">
                            <!-- OPE<br>16.11 - 30.11 -->
                            OPE-1
                        </th>
                        <th style="text-align: center">
                            <!-- OPE<br>30.11 - 14.12 -->
                            OPE-2
                        </th>
                        <th style="text-align: center">
                            <!-- OPE<br>14.12 - 28.12 -->
                            OPE-3
                        </th>
                        <th style="text-align: center">
                            <!-- OPE<br>28.12 - 11.01 -->
                            OPE-4
                        </th>
                        <th style="text-align: center">
                            <!-- OPE<br>11.01 - 25.01 -->
                            OPE-5
                        </th>
                        <th style="text-align: center">
                            <!-- OPE<br>25.01 - 08.02 -->
                            OPE-6
                        </th>
                        <th style="text-align:center">Average</th>
                    </tr>
                </thead>
                <tbody>
                  {{#each schools}}

                    <tr>
                      <td>{{math @index "+" 1}}</td>
                      <td style="width:20%; text-align:center">{{shortName}}</td>

                        {{#if isAverage}}
                            {{#each (repeat 6)}}
                                <td style="text-align:center">{{getAverage this ../schoolId}}</td>
                            {{/each}}
                            <td style="text-align: center">{{averageAverages schoolId}}</td>
                        {{else}}
                            {{#if isPercentage}}
                                {{#each (repeat 6)}}
                                    {{#with getPercentage this ../schoolId}}
                                        <td style="text-align:center">
                                            {{#if region}}<span style="{{getLabelStyle 'region'}}">{{region}}</span>{{/if}} 
                                            {{#if republic}}<span style="{{getLabelStyle 'republic'}}">{{republic}}</span>{{/if}}
                                        </td>
                                    {{/with}}
                                {{/each}}
                                {{#with averagePercentages schoolId}}
                                    <td style="text-align: center">
                                        {{#if region}}<span style="{{getLabelStyle 'region'}}">{{region}}</span>{{/if}} 
                                        {{#if republic}}<span style="{{getLabelStyle 'republic'}}">{{republic}}</span>{{/if}}
                                    </td>
                                {{/with}}
                            {{else}}
                                {{#each (repeat 6)}}
                                    {{#with getQuantity this ../schoolId}}
                                        <td style="text-align:center">
                                            {{#if region}}<span style="{{getLabelStyle 'region'}}">{{region}}</span>{{/if}} 
                                            {{#if republic}}<span style="{{getLabelStyle 'republic'}}">{{republic}}</span>{{/if}}
                                        </td>
                                    {{/with}}
                                {{/each}}
                                {{#with averageQuantities schoolId}}
                                    <td style="text-align: center">
                                        {{#if region}}<span style="{{getLabelStyle 'region'}}">{{region}}</span>{{/if}} 
                                        {{#if republic}}<span style="{{getLabelStyle 'republic'}}">{{republic}}</span>{{/if}}
                                    </td>
                                {{/with}}
                            {{/if}}
                        {{/if}}
                    </tr>
                  {{/each}}

                </tbody>
            </table>

            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
