<template name="adminOpeRatings">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center; padding-bottom: 15pt">OPE Рейтинг</h4>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group" style="margin-right: 15pt">
                        {{> academicYear}}

                        <label for="" style="margin-left: 10pt; ">Пән</label>
                        <select class="form-control" id="subjectId">
                            <option value="all">Жалпы</option>
                            <option value="01">Алгебра</option>
                            <option value="02">Физика</option>
                            <option value="03">Химия</option>
                            <option value="04">Биология</option>
                            <option value="05">Ағылшын тілі</option>
                            <option value="06">География</option>
                            <option value="08">Информатика</option>
                            <option value="09">Қазақ тілі</option>
                            <option value="10">Түрік тілі</option>
                            <option value="11">Орыс тілі</option>
                            <option value="12">Қазақстан тарихы</option>
                            <option value="15">Құқық</option>
                        </select>

                        <label for="" style="margin-left: 10pt; ">Сынып</label>
                        <select class="form-control" id="grade">
                            <option value="all">Жалпы</option>
                            <option value="7">7 сынып</option>
                            <option value="8">8 сынып</option>
                            <option value="9">9 сынып</option>
                            <option value="10">10 сынып</option>
                            <option value="11">11 сынып</option>
                        </select>

                        <!-- <label for="" style="margin-left: 10pt; ">Рейтинг түрі</label>
                        <select class="form-control" id="rating_type">
                            <option value="default" disabled selected>Опцияны таңдаңыз</option>
                            <option value="average">Орташа</option>
                            <option value="region">Область</option>
                            <option value="republic">Республика</option> -->
                            <!-- <option value="both">Область және республика</option> -->
                            <!-- <option value="percentageRegion">"Область" дәлелденген пайыз</option>
                            <option value="percentageRepublic">"Республика" дәлелденген пайыз</option>
                            <option value="quantityRegion">"Область" дәлелденген саны</option>
                            <option value="quantityRepublic">"Республика" дәлелденген саны</option>
                            <option value="percentageBoth">Жалпы дәлелденген пайыз</option>
                            <option value="quantityBoth">Жалпы дәлелденген саны</option> -->
                        <!-- </select> -->

                        <label for="" style="margin-left: 10pt; ">OPE нөмірі</label>
                        <select class="form-control" id="ope_number">
                            <option value="" disabled selected>Опцияны таңдаңыз</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <label for="threshold_regional" style="margin-left: 10pt;"><span style="padding: 5px; background-color: #ccffff">Область үшін ұпай саны</span></label>
                        <!-- <input type="text" style="width: 40pt" id="threshold_region" class="form-control" placeholder="Сан енгізіңіз" name="threshold_regional" value="{{opeThresholds 'region'}}">                         -->
                        <span>{{#if opeThresholds 'region'}}{{opeThresholds 'region'}}{{else}}-{{/if}}</span>

                        <label for="threshold_republic" style="margin-left: 10pt;"><span style="padding: 5px; background-color: #cce5ff">Республика үшін ұпай саны</span></label>
                        <!-- <input type="text" style="width: 40pt" id="threshold_republic" class="form-control" placeholder="Сан енгізіңіз" name="threshold_republic" value="{{opeThresholds 'republic'}}"> -->
                        <span>{{#if opeThresholds 'republic'}}{{opeThresholds 'republic'}}{{else}}-{{/if}}</span>


                        </div>
                        
                        {{#if isOption}}
                        <div class="form-group" style="float: right">
                            <a class="btn btn-success" id="download">Download</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>

            {{#if Template.subscriptionsReady}}

            <table style="margin-top: 15pt" class="table table-striped  table-bordered table-hover table-condensed"  border=1 cellpadding=0 cellspacing=0 width=100%>
                <thead>
                    <tr class="bts-header">
                        <th>#</th>
                        <th style="border-right: 1pt solid darkgrey">Мектеп</th>
                        <th id="total_number" style="text-align: center; border-right: 1pt solid darkgrey">Жалпы қатысты</th>   
                        <th id='region_header' colspan="4" style="text-align: center; border-right: 1pt solid darkgrey">
                            <!-- OPE<br>16.11 - 30.11 -->
                            Область
                        </th>
                        <th id='republic_header' colspan="4" style="text-align: center; border-right: 1pt solid darkgrey">
                            <!-- OPE<br>30.11 - 14.12 -->
                            Республика
                        </th>     
                                        
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <th scope="rowgroup"></th>
                        <th scope="rowgroup" style="border-right: 1pt solid darkgrey"></th>
                       
                        <th style="border-right: 1pt solid darkgrey"></th>

                        <th id="ope_region-m" style="font-weight: lighter; font-size: small; text-align:center" scope="rowgroup">Дәлелдеді</th>
                        <th id="ope_region-n" style="font-weight: lighter; font-size: small; text-align:center" scope="rowgroup">Жүлделі катысты</th>
                        <th id="ope_region-x" style="font-weight: lighter; font-size: small; text-align:center" scope="rowgroup">Жүлделі мақсат</th>
                        <th id="ope_region-p" style="font-weight: lighter; font-size: small; text-align:center; border-right: 1pt solid darkgrey" scope="rowgroup">Дәлелдеу пайызы</th>
                        
                        <th id="ope_republic-m" style="font-weight: lighter; font-size: small; text-align:center" scope="rowgroup">Дәлелдеді</th>
                        <th id="ope_republic-n" style="font-weight: lighter; font-size: small; text-align:center" scope="rowgroup">Жүлделі катысты</th>
                        <th id="ope_republic-x" style="font-weight: lighter; font-size: small; text-align:center" scope="rowgroup">Жүлделі мақсат</th>
                        <th id="ope_republic-p" style="font-weight: lighter; font-size: small; text-align:center; border-right: 1pt solid darkgrey" scope="rowgroup">Дәлелдеу пайызы</th>
                    
                    </tr>
                  {{#each schools}}

                    <tr>
                      <td>{{math @index "+" 1}}</td>
                      <td style="width:20%; border-right: 1pt solid darkgrey">{{shortName}}</td>

                      <td style="text-align: center; border-right: 1pt solid darkgrey">{{totalNumber schoolId}}</td>
                            
                        <td style="text-align: center">{{getQuantityRegion schoolId}}</td>
                        <td style="text-align: center">{{getTotalRegion schoolId}}</td>
                        <td style="text-align: center">{{getStatedRegion schoolId}}</td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey">{{getPercentageRegion schoolId}}</td>
                        
                        <td style="text-align: center">{{getQuantityRepublic schoolId}}</td>
                        <td style="text-align: center">{{getTotalRepublic schoolId}}</td>
                        <td style="text-align: center">{{getStatedRepublic schoolId}}</td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey">{{getPercentageRepublic schoolId}}</td>
                            
                    </tr>
                  {{/each}}

                </tbody>
            </table>

            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>
