<template name="adminUbtOfficialResults">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center; padding-bottom: 15pt">ҰБТ ресми нәтижелері</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group" style="margin-right: 15pt">
                        {{> academicYear}}

                        <label for="" style="margin-left: 10pt; ">Мектеп</label>
                        <select class="form-control" id="school">
                            {{#each schools}}
                            <option value="{{schoolId}}">{{shortName}}</option>
                            {{/each}}
                        </select>

                        <label for="" style="margin-left: 10pt; ">Кезең</label>
                        <select class="form-control" id="period">
                            <option value="january">Қаңтар</option>
                            <option value="march-june">Наурыз-Маусым</option>
                        </select>

                        <div class="checkbox">
                            <label style="margin-left: 10pt; "><input id="showCertified" type="checkbox"> Тек нәтижелері барларды көрсету</label>
                        </div>

                        </div>

                        <div class="form-group" style="float: right">
                            <a class="btn btn-success" id="download">Download</a>
                        </div>
                    </div>
                </div>
            </div>
            {{#if Template.subscriptionsReady}}

            <table style="margin-top: 15pt" class="table table-striped table-bordered table-hover table-responsive table-condensed">
                <thead>
                    <tr class="sat-header">
                        <th>#</th>
                        <th>Сынып</th>
                        <th style="border-right: 1pt solid darkgrey">Аты-жөні</th>
                        
                        <th id="math_literacy" style="text-align: center">Математикалық сауаттылық</th>
                        <th id="reading_literacy" style="text-align: center">Оқу сауаттылығы</th>
                        <th id="kazakh_history" style="text-align: center; border-right: 1pt solid darkgrey">Қазақстан тарихы</th>
                        
                        <th id="math" style="text-align: center">Математика</th>
                        <th id="physics" style="text-align: center">Математика</th>
                        <th id="chemistry" style="text-align: center">Математика</th>
                        <th id="biology" style="text-align: center">Математика</th>
                        <th id="geography" style="text-align: center">Математика</th>
                        <th id="foreign_language" style="text-align: center">Математика</th>
                        <th id="world_history" style="text-align: center">Математика</th>
                        <th id="community_rights" style="text-align: center">Математика</th>
                        <th id="kazakh_language" style="text-align: center">Математика</th>
                        <th id="kazakh_literature" style="text-align: center">Математика</th>
                        <th id="russian_language" style="text-align: center">Математика</th>
                        <th id="russian_literature" style="text-align: center">Математика</th>
                        <th id="creative_exam_1" style="text-align: center">Математика</th>
                        <th id="creativw_exam_2" style="text-align: center">Математика</th> 
                    </tr>
                </thead>
                <tbody>
                    
                  {{#each results}}

                    <tr>
                      <td>{{math @index "+" 1}}</td>
                      <td>{{grade}} {{division}}</td>
                      <td style="border-right: 1pt solid darkgrey">{{surname}} {{name}} </td>


                    {{#if editing}}

                        {{#if isSat1Hidden}}
                        <td style="border-right: 1pt solid darkgrey"></td>
                        {{else}}
                        <td style="text-align: center"><input type="text" style="width: 30pt" id="editSat1English" value="{{sat1english}}"></td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey"><input type="text" style="width: 30pt" id="editSat1Math" value="{{sat1math}}"></td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey"><input type="text" style="width: 30pt" id="editSat1Total" value="{{sat1total}}"></td>
                        {{/if}}

                        {{#if isSat2Hidden}}
                        <td style="border-right: 1pt solid darkgrey"></td>
                        {{else}}
                        <td style="text-align: center"><input type="text" style="width: 30pt" id="editSat2Math1" value="{{sat2math1}}"></td>
                        <td style="text-align: center"><input type="text" style="width: 30pt" id="editSat2Math2" value="{{sat2math2}}"></td>
                        <td style="text-align: center"><input type="text" style="width: 30pt" id="editSat2Physics" value="{{sat2physics}}"></td>
                        <td style="text-align: center"><input type="text" style="width: 30pt" id="editSat2Chemistry" value="{{sat2chemistry}}"></td>
                        <td style="text-align: center"><input type="text" style="width: 30pt" id="editSat2Biology" value="{{sat2biology}}"></td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey"><input type="text" style="width: 30pt" id="editSat2WorldHistory" value="{{sat2worldhistory}}"></td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey"><input type="text" style="width: 30pt" id="editSat2Total" value="{{sat2total}}"></td>
                        {{/if}}

                        {{#if isIeltsHidden}}
                        <td style="border-right: 1pt solid darkgrey"></td>
                        {{else}}
                        <td style="text-align: center"><input type="text" style="width: 30pt" id="editIeltsListening" value="{{ieltslistening}}"></td>
                        <td style="text-align: center"><input type="text" style="width: 30pt" id="editIeltsReading" value="{{ieltsreading}}"></td>
                        <td style="text-align: center"><input type="text" style="width: 30pt" id="editIeltsWriting" value="{{ieltswriting}}"></td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey"><input type="text" style="width: 30pt" id="editIeltsSpeaking" value="{{ieltsspeaking}}"></td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey"><input type="text" style="width: 30pt" id="editIeltsTotal" value="{{ieltstotal}}"></td>
                        {{/if}}

                        <td>
                            <button class="saveItem btn btn-success">Save</button>
                            <button class="cancelItem btn btn-default">Cancel</button>
                        </td>

                    {{else}}

                        {{#if isSat1Hidden}}
                        <td style="border-right: 1pt solid darkgrey"></td>
                        {{else}}
                        <td style="text-align: center">{{sat1english}}</td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey">{{sat1math}}</td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey">{{sat1total}}</td>
                        {{/if}}

                        {{#if isSat2Hidden}}
                        <td style="border-right: 1pt solid darkgrey"></td>
                        {{else}}
                        <td style="text-align: center">{{sat2math1}}</td>
                        <td style="text-align: center">{{sat2math2}}</td>
                        <td style="text-align: center">{{sat2physics}}</td>
                        <td style="text-align: center">{{sat2chemistry}}</td>
                        <td style="text-align: center">{{sat2biology}}</td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey">{{sat2worldhistory}}</td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey">{{sat2total}}</td>
                        {{/if}}

                        {{#if isIeltsHidden}}
                        <td style="border-right: 1pt solid darkgrey"></td>
                        {{else}}
                        <td style="text-align: center">{{ieltslistening}}</td>
                        <td style="text-align: center">{{ieltsreading}}</td>
                        <td style="text-align: center">{{ieltswriting}}</td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey">{{ieltsspeaking}}</td>
                        <td style="text-align: center; border-right: 1pt solid darkgrey">{{ieltstotal}}</td>
                        {{/if}}

                        <td>
                            <button class="editItem btn btn-primary">Edit</button>
                        </td>
                        {{/if}}

                    </tr>
                  {{/each}}

                </tbody>
            </table>

            {{else}}
            <p>Loading...</p>
            {{/if}}
        </div>
    </div>
</template>